.logo1 {
background-color: rgba(0, 0, 0, 0.915);
border-radius: 20rem;
width: 10%;
height: 10%;
margin-left: 10%;
display: inline-block;
}

.logo,.links{
    color: white;
}

.navItem:hover{
    color: #FF7C25;
    transition: 0.2s;
}

.navItem{
    font-size: 1.1rem;
}